/* google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #0F1035;
  --error: #DCF2F1;
}
body {
  background: #7FC7D9;
  margin: 0;
  font-family: "Roboto";
}
header {
  background: #365486;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #DCF2F1;
  text-decoration: none;
}



.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}


